body {
  padding-top: 30px;
  background-color: red;
  padding: 20px 5px;
  text-align: center;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#layout{

margin-left:auto;

margin-right:auto;

width:780px;

text-align:left;

}